<html>
    <head>
        <title>{{ title }} page </title>
    </head>
    <body>
                  
        <form action = "/uploader" method = "POST" 
          enctype = "multipart/form-data">
          <input type = "file" name = "file1" />
          <input type = "submit"/>
            </form>
         
        <p> {{ predict }} </p>

     <!--   <form action = "/uploader_image" method = "POST" 
          enctype = "multipart/form-data">
          <img src="file" alt="">
            </form>-->
        
    </body>
</html>   